<footer class="footer py-3 mt-auto" style="background-color: #002D8A">
    <div class="container text-center">
        <span class="text-white fw-light">&copy; Julian Parker 2021</span>
    </div>
</footer>