<% layout('./layout/boilerplate') %>
<h1 class='title'>Contact</h1>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10">
            <div class="card contactCard">
                <div class="imgWrapper">
                    <img src="/images/contact-img.jpg" class="card-img-top" alt="contact image">
                    <p class="imgCredit">Photo by <a
                            href="https://unsplash.com/@melindagimpel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Melinda
                            Gimpel</a> on <a
                            href="https://unsplash.com/s/photos/contact?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </p>
                </div>
                <div class="card-body">
                    <h4 class="highlightedText">
                        Queries?
                    </h4>
                    <h4 class="highlightedText">
                        Problems?
                    </h4>
                    <h4 class="highlightedText">
                        Suggestions?
                    </h4>
                    <h4 class="card-text mt-4">
                        Then please feel free to drop me an email at:
                    </h4>
                </div>
                <div class="card-footer emailContainer">
                    <h3 class="email"><a href="mailto:iarchersupport@joolsmail.co.uk">iarchersupport@joolsmail.co.uk</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>